<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= User.Name %></title>
</head>
<link rel="stylesheet" href="./styles.css" />
<body>
    <div class="ButtonHolder">
    <h1> Welcome <%= User.Name %> </h1>
    <ul>
        <h2>Details: </h2>
        <li> Phone: <%= User.Phone %></li>
        <li> Email: <%= User.Email %></li>
        <li> Address: <%= User.Address %></li>
        <li>Age: <%= User.Age %></li>
    </ul>
    <a href="/">Home</a>
    <a href="/Delete/<%= User._id %>">Delete this account</a>
    <a href="/Edit/<%= User._id %>">Edit this account</a>
    </div>
</body>

</html>